<div class="row">
    <div class="col-md-10">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam architecto asperiores delectus
            eaque enim illum itaque, iusto magni molestiae mollitia nesciunt odit omnis quas quis sint vel vitae.
        </div>
        <div>Animi culpa deserunt id ipsa molestias necessitatibus nisi quae vitae! A accusantium, animi consequuntur,
            dicta dolor dolore ducimus hic id maiores natus nobis provident qui quidem quos repellendus unde veniam!
        </div>
    </div>
    <div class="col-md-2"><img src="https://via.placeholder.com/150.png" alt="150x150"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis harum labore molestiae nostrum officiis,
            quasi vel. Accusamus ad adipisci blanditiis delectus, dignissimos expedita facere, harum magni neque repellat,
            sunt veniam?
        </div>
        <div>Accusamus, aut consectetur consequuntur culpa cupiditate delectus dolores dolorum eum eveniet illum, ipsam
            laudantium magni modi molestias mollitia nobis numquam quibusdam quo sed sunt tenetur unde veritatis. Et,
            laborum, porro.
        </div>
        <div>Animi nobis unde voluptas! A atque, aut consectetur dicta dolor doloremque eaque eligendi fuga, laborum libero
            neque nisi quia, quibusdam quod rem repudiandae sint tempora ullam veritatis voluptas voluptatem voluptatibus!
        </div>
    </div>
</div>
